{% extends "base.html" %}
{% block title %}ZAPS Riichi Mahjong Scorer for Android, and maybe iPhone{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<p>
    You will soon be able to download the early-adopter release of the
    <a href='https://github.com/ApplySci/zapsscorer'>open-source</a>
    <a href='https://play.google.com/store/apps/details?id=info.azps.mahjong.zapsscorer'>ZAPS Riichi Mahjong Scorer, at the Android Play Store</a>.
</p>
<p>
    If you have any suggestions, questions, bugs, please
    <a href='https://github.com/ApplySci/zapsscorer'>raise them as an issue on github</a>
</p>
<a href='/static/{{ newest }}' style='display: block; border: none;'><img src='/static/icon1.png' style='width: 20%; height: auto'></a>
<section>
<h2>Recent updates</h2>
<ul>
    <li>v0.5 (in progress):
        <ul>
        <li class=TODO>Server front-end
        </ul>
</ul>
<hr>
<h2># TODO (in descending priority)</h2>
<ul>
    <li><h3>v0.?:</h3>
        <ul>
            <li class=TODO>Prepare in-game overlay for OBS use
            <li class=TODO>Add password-reset function to website
            <li class=TODO>Add GDPR data-dump to website
            <li class=TODO>Add privacy policy
            <li class=TODO>Don't ask for PIN of player to whom the device is registered, when selected for a game.
            <li class=TODO>Add recently-played group to list of players, including casuals
            <li class=TODO>Polish the server-side ready for beta testing.
            <li class=TODO>Get list of people present, then show list of unfinished games featuring any combination of those people
            <li class=TODO>If there's a network error when trying to register players, remember their PIN until the game can be registered
            <li class=TODO>Add option to send local games to server where possible, and then delete it (and current_game.json), as sometimes that's the only way to get past a corruption
            <li class=TODO>add audit trail on server of changes to a particular game
            <li class=TODO>Add new registered player in app, register them on the server by email address
            <li class=TODO>Test iPhone version
        </ul>
    <li><h3>v???</h3>
        <ul>
            <li class=TODO>tournament and league mode on server
        </ul>
    <li><h3>Should these happen? Feedback welcome!</h3>
        <ul>
            <li class=TODO>?User registration via social login?
            <li class=TODO>?optional enhanced scorecard like UKRC Open, with counter column, riichi bank, etc?
            <li class=TODO>?add game timer?
        </ul>
</ul>
<hr>
<h2>Older updates</h2>
<ul>
</ul>
<hr>
</section>
{% endblock %}