<html>
  <head>
    <meta charset="UTF-8">
    <title>LIVE game - ZAPS Mahjong Scorer</title>
    <script src=/static/jquery.js></script>
    <link rel=icon href=/static/icon1.png>
    <link rel=stylesheet type=text/css href=/static/live.css>
  </head>
  <body>
    <div id=live>
        <img id=svg src=/static/rostiboxes.svg>
        <div id=left>
        Current Hand: <span id=handname>E1-0</span><br>
        Dora indicator: <span id=indicators>N/A</span><br>
        <span id=idlechat>
        </span>
        </div>
        <div id=right>Scorecard
        </div>
        <div id=bname><span class=name>bottom</span><span id=bscore class=score>+0.0</span></div>
        <div id=rname><span class=name>right</span><span id=rscore class=score>+0.0</span></div>
        <div id=tname><span class=name>top</span><span id=tscore class=score>+0.0</span></div>
        <div id=lname><span class=name>left</span><span id=lscore class=score>+0.0</span></div>
        <div id=bwind>東</div>
        <div id=rwind>南</div>
        <div id=twind>西</div>
        <div id=lwind>北</div>
    </div>
    <script>
    var stream = new EventSource('/stream/{{game.game_id}}');
    </script>
    <script src=/static/live.js></script>
  </body>
</html>