{% extends "base.html" %}
{% block title %}Privacy and GDPR{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<ul>
<li>We use your email address to notify you of significant site changes that affect your account.
<li>All the games that you associate with your account, we associate with your account.
<li>If you delete your account, we will replace your ID on each game that you associated with your account, with a unique anonymous player ID, so those games will no longer be associated with you, nor with each other via you.
<li>You can <a href='/download-my-details'>download all your data</a>.
<li><a href='http://newsthump.com/2010/07/29/security-experts-warn-that-stuff-you-put-on-the-internet-is-on-the-internet/'>Security experts warn that stuff you put on the internet is on the internet.</a>
</ul>
{% endblock %}