{% extends "base.html" %}

{% block content %}
    <h1>Register as a new user</h1>
    <p>This is all in beta test at the moment, so things might get weird. If they do, please
    <a href='https://github.com/ApplySci/mj-scorer/issues'>raise it as an issue on github</a>.</p>
    <form action='' method=post>
        {{ form.hidden_tag() }}
        <p>This is the name that will be used for all the games you play.
        You might be able to change it later, but you can't at the moment.
        It has to be unique, and it's going to get put on each of your games.<br>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pin.label }}<br>
            {{ form.pin(size=4) }}<br>
            {% for error in form.pin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
